.card-body__table{
    width: 100%;
    display: flex;
    border-top: 1px solid grey;
}
.card-body__row{
    width: calc(100% / 7);
    margin: 0;
}
.card-body__ceil.head{
    background-color: var(--yellow-color);
    color: black !important;
    pointer-events: none;
}

.card-body__ceil{
    width: 100%;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    padding: 0.3rem;
    background-color: var(--cyan-color);
    color: white;
    border-bottom: 1px solid white;
}
.card-body__ceil.empty{
    background-color: white;
    color: white;
    pointer-events: none;
    cursor: unset;
}
.card-body__ceil:hover{
    background-color: var(--dark-cyan-color);
}
.card-body__ceil.past{
    background-color: rgb(204, 204, 204)!important;
    color: grey;
    pointer-events: none;
    cursor: unset;
}
.card-body__ceil.busy{
    background-color: #dc3545;
    color: white;
    pointer-events: none;
    cursor: unset;
}
@media(max-width: 575px){
    .card-body__table{
        overflow-y: scroll;
    }
    .card-body__row{
        min-width: 70px;
    }

    .popup__container{
        padding: 20px;
    }
}